
### Eclipse ###	
**/.project
**/.prefs
**/.metadata
**/bin/
**/tmp/
**/*.tmp
**/*.bak
**/*.swp
**/*~.nib
**/local.properties
**/.loadpath
**/.recommenders

### IntelliJ ###
**/.idea/
**/*.iml
**/out/

### Gradle ###
**/.gradle
**/build/

### Java ###
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar